<template name = "appChat">

	<div class = "container">
	<center>

	<div class="col-lg-4 ">

	<div class="panel panel-default">
                <div class="panel-body form-horizontal">
 
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Name </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control name"  name="name">
                        </div>
                    </div>
 
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Age</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control age" name="age">
                        </div>
                    </div> 
              
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Gender</label>
                        <div class="col-sm-9">
                            <select class="form-control gender" name="gender">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                    </div> 
 
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Address</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control address" name="address">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Course</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control course" name="course">
                        </div>
                    </div>

                     <div class="form-group">
                        <label class="col-sm-3 control-label">Status</label>
                        <div class="col-sm-9">
                            <select class="form-control status" name="status">
                                <option>Single</option>                                
                                <option>Married</option>
                                <option>Complicated</option>
                                <option>Divorce</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button type="button" class="btn btn-default submit">
                                <span class="glyphicon glyphicon-plus"></span> Add
                            </button>
                        </div>
                    </div>
                </div>
            </div>
	</div>


	<div class="col-lg-8">
	{{#each Messages}}
	<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-8">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-lg-8">
                        <h4>{{name}}</h4>
                        <small><cite title="{{address}}">{{address}}<i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>
                            {{course}}
                            <br />
                            <i >Age: </i>{{age}}
                            <br />
                            <i >Gender: </i>{{gender}}
                            <br />
                            {{status}}
                        </p>

                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger btnDelete">
                                Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
	{{/each}}
	</div>
	</center>
	</div>

</template>