<template name = "appChat">

	<div class = "container">
	<form class="form">
	<div class = "form-group">
		<label>Username:</label>
		<input type="text" class="form-control txtName" placeholder = "Username"/>
	</div>	
		<div class = "form-group">
			<label>Message:</label>
		<textarea type="text" class="form-control txtText" placeholder = "Type a Message"></textarea>
	</div>
	</form>
	</div>
	{{#each Messages}}
	<div class = "container" style="border:solid;border-width:1px;border-top:none;border-left:none ;border-right:none ;background-color:white;margin-top:20px;border-bottom:none">
		<div><button class = "btn btn-default btn-small btnDelete" style = "border:none"><span class="glyphicon glyphicon-remove-circle"></span></button></div>
		<div style = "font-size:18px;color:#0033FF"><b>{{name}}</b> </div>
		<div><i>{{createdAt}}</i></div>
		<div style= "margin-top:10px;margin-bottom:10px"><i style= "font-size:26px">{{text}}</i> </div>

	</div>	 	
		 	 

		
	{{/each}}


</template>